Introduction To Lists
 - Lists are ordered mutable collection of items.
 - They can contain items of different data types.

Topics
 - Introduction to Lists
 - Creating Lists
 - Accessing List Elements
 - Modifying List Elements
 - List Methods
 - Slicing Lists

In [88]:
lst = []

print(type(lst))

<class 'list'>

In [89]:

names =["sami","sami1",1,2,3,4]

In [90]:
names

['sami', 'sami1', 1, 2, 3, 4]

In [92]:
### accessing List Elements
fruits = ["apple", "banana", "cherry","kiwi"]

In [93]:
print(fruits[2])
print(fruits[-1])

cherry
kiwi

In [95]:
print(fruits[0:])

['apple', 'banana', 'cherry', 'kiwi']

In [96]:
print(fruits[1:3])

['banana', 'cherry']

In [ ]:
##Moddifying List Elements

fruits

In [97]:
fruits[0] = "new apple"
fruits

['new apple', 'banana', 'cherry', 'kiwi']

In [98]:
#list methods

fruits.append("orange")
fruits

['new apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
fruits.append(["new orange"])
fruits

['new apple', 'banana', 'cherry', 'kiwi', 'orange', ['new orange']]

In [100]:
fruits.extend(["new orange"])
fruits

['new apple',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 ['new orange'],
 'new orange']

In [101]:
fruits.insert(1,"WaterMelon")
fruits

['new apple',
 'WaterMelon',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 ['new orange'],
 'new orange']

In [102]:
fruits.remove("WaterMelon")

In [103]:
fruits

['new apple',
 'banana',
 'cherry',
 'kiwi',
 'orange',
 ['new orange'],
 'new orange']

In [104]:
# remove  and return the last

fruits.pop()

'new orange'

In [105]:
fruits

['new apple', 'banana', 'cherry', 'kiwi', 'orange', ['new orange']]

In [106]:
fruits.index("cherry")

2

In [107]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [111]:
fruits.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [109]:
fruits.reverse()

In [110]:
fruits

[['new orange'], 'orange', 'new apple', 'kiwi', 'cherry', 'banana', 'banana']

In [112]:
fruits.clear()

In [113]:
fruits

[]

In [114]:
#Sliciing List 

numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::3])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [115]:
## iterating through a list

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [116]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
##List Comprehension
lst =[]
for x in range(10):
    lst.append(x**2)

print(lst)

In [ ]:
[x**2 for x in range(10) ]

In [ ]:
#List Comprehension with condition

# basic Syntax [Expression for item in iterable ]
#with condition logic  [x for x in iterable if condition]
#Nested List Comprehension [[expression for item1 in iterable1] for item2 in iterable2]

square = [x**2 for x in range(10)]
print(square)

In [ ]:
even_number = [x for x in range(10) if x%2==0]
print(even_number)

In [ ]:
## Nested list Comprehension

lst1 = [1,2,3,4]
lst2 =["a","b","c","d"]

pairs =[(i,j) for i in lst1 for j in lst2]
print(pairs)

In [ ]:
## List Comprehension with Functions calls

words = ["hello", "world", "python","list","comprehension"]
lengths = [len(word) for word in words] 
print(lengths)