## Sets

Sets are a build-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow dublicate elements. Sets are useful for membership tests, elimination dublicate entries, and performing mathmatical set operations like union, intersections, difference and symmentic difference.

In [3]:
## create a set

my_set  = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [7]:
my_empty_set = set([1,2,3,4,4])
print(my_empty_set)

{1, 2, 3, 4}

In [11]:
## basic Sets Operations

## Adding and removing elements

my_set.add(6)
print(my_set)   
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [12]:
my_set.discard(6) # discard does not raise an error if the element is not found

In [15]:
##pop removes and returns an arbitrary element from the set
print(my_set.pop()) # returns an arbitrary element
print(my_set) # the set is now smaller by one element

2
{3, 4, 5}

In [14]:
my_set

{2, 3, 4, 5}

In [16]:
## clear all the elements from the set
my_set.clear()

In [17]:
print(my_set) # the set is now empty

set()

In [20]:
## Set membership test
my_set = {1, 2, 3, 4, 5}
print(1 in my_set) # returns False
print(1 in my_set) # returns True

True
True

In [22]:
## Math operations on sets
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8}
print(my_set1.union(my_set2)) # returns a new set with all elements from both sets
print(my_set1.intersection(my_set2)) # returns a new set with elements common to both sets
print(my_set1.difference(my_set2)) # returns a new set with elements in my_set1 but not in my_set2

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [23]:
## Symmetric difference returns a new set with elements in either set but not both
print(my_set1.symmetric_difference(my_set2)) # returns a new set with elements in either set but not both

{1, 2, 3, 6, 7, 8}

In [25]:
## Sets Method

set1 ={1,2,3}
set2 ={3,4,5}
print(set1.issubset(set2)) # returns False, set1 is not a subset of set2
print(set1.issuperset(set2)) # returns False, set1 is not a superset of set2

False
False

In [29]:
### Counting unique elements in a list
my_list = "my name is sami yes sami"
my_set = set(my_list.split(" ")) # convert list to set to get unique elements
print(my_set) # returns {1, 2, 3, 4, 5}

{'name', 'yes', 'my', 'sami', 'is'}